{% extends "base.html" %}

{% block head %}
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
	{{ block.super }}
{% endblock %}

{% block content %}
    <form class="bk-form bk-inline-form" >
        <div class="bk-form-item is-required">
            <div class="bk-form-content">
                <input type="text" id="input" class="bk-form-input" required="required" placeholder="请输入Hello Blueking" style="width:400px;">
            </div>
        </div>
        <div class="bk-form-item">
            <div class="bk-form-content">
                <button class="bk-button bk-primary" id="submit" onclick="return false;">提交</button>
            </div>
        </div>
    </form>
{% endblock %}

{% block extra_block %}
    <script>$('.nav li:nth-child(2)').addClass("king-navbar-active")</script>
    <script>
        $('#submit').click(function() {
            var value = $("#input").val();
            if (value == "") {
                input.addClass("is-danger");
                return;
            }
            $.ajax({
                url: '{{ SITE_URL }}homework2/check_param/',
                data: {
                    'value': value,
                },
                type: 'POST',
                success: function (res) {
                    if(res.code == 200)
                        alert('Congratulation!');
                    else if(res.code == 400){
                        alert(res.msg);
                    }
                }
            });
        });
    </script>
{% endblock %}