{% extends "base.html" %}

{% block head %}
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
	{{ block.super }}
{% endblock %}

{% block content %}
<body class="bg-white" data-bg-color="bg-white">
    <div class="king-page-box">
        <div class="king-container clearfix">
            <div class="panel king-panel1 mb0  ">
                <div class="panel-heading king-panel-head1 king-panel-top1">
                    <h3 class="panel-title">记录</h3>
                </div>
                <div class="panel-body">
                    <table class="table mb0 pr15 ranger-box2  ">
                        <thead>
                            <tr>
                                <th style="width: 70px;">#</th>
                                <th style="width: 15%;">名称</th>
                                <th style="width: 15%;">位置</th>
                                <th style="width: 15%;">日期</th>
                                <th style="width: 15%;">类型</th>
                                <th style="width: 15%;">类型</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <template id="header_tpl_15597494993752">
                        <tr>
                            <td style="width: 15%;">#name#</td>
                            <td style="width: 15%;">#IP#</td>
                            <td style="width: 15%;">#OS#</td>
                            <td style="width: 15%;">#disk_partition#</td>
                            <td style="width: 15%;">#disk_capacity#</td>
                            <td style="width: 15%;">#create_time#</td>
                            <th>操作</th>
                        </tr>
                    </template>
                    <template id="tpl_15597494993752">
                        <tr>
                            <td style="width: 15%;">#name#</td>
                            <td style="width: 15%;">#IP#</td>
                            <td style="width: 15%;">#OS#</td>
                            <td style="width: 15%;">#disk_partition#</td>
                            <td style="width: 15%;">#disk_capacity#</td>
                            <td style="width: 15%;">#create_time#</td>
                            <td>
                                <button class="btn btn-xs btn-danger remove-host-record" onclick="deleteHostRecord(#id#)"> <i class="glyphicon glyphicon-remove"></i> </button>
                            </td>
                        </tr>
                    </template>
                    <!-- 设置面板End -->
                </div>
            </div>
            <div class="panel king-panel1 mb0  ">
                <div class="panel-heading king-panel-head1 king-panel-top1">
                    <h3 class="panel-title">添加</h3>
                </div>
                <div class="panel-body">
                    <form class="form-vertical p15">
                        <div class="container-fluid mb0 ">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label>主机名：</label>
                                        <input type="text" class="form-control" id="name" placeholder="小明的Ubuntu"> </div>
                                    <div class="form-group ">
                                        <label>磁盘容量(GB)：</label>
                                        <input type="text" class="form-control" id="disk_capacity" placeholder="256"> </div>
                                    <div class="form-group">
                                        <button id="submit" type="button" class="king-btn mr10  king-success" onclick="return false;">提交</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label>IP：</label>
                                        <input type="text" class="form-control" id="IP" placeholder="1.1.1.1"> </div>
                                    <div class="form-group ">
                                        <label>操作系统：</label>
                                        <select class="form-control" id="OS">
                                            <option value="Linux">Linux</option>
                                            <option value="macOS">macOS</option>
                                            <option value="Windows">Windows</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group ">
                                        <label>磁盘分区：</label>
                                        <input type="text" class="form-control" id="disk_partition" placeholder="/"> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock %}
{% block extra_block %}
    <script>
        function deleteHostRecord(id){
                    $.ajax({
                        type:'DELETE',
                        url:'{{ SITE_URL }}homework3/host/'+id,
                        dataType:'json',
                        success:function(res){
                            if(res.code==200){
                                refreshList();
                            }
                            else alert(res.msg);

                        }
                    });
        }
        function renderTpl(str, cfg) {
                    var re = /(#(.+?)#)/g;

                    return str.replace(re, function() {
                        var val = cfg[arguments[2]]+'';
                        if(typeof val == 'undefined') {
                            val = '';
                        }
                        return val;
                    });
                }

                // 异步请求后台数据
         function refreshList(){
            $.ajax({
                    url: '{{ SITE_URL }}homework3/host/',
                    type: 'GET',
                    dataType:'json',
                    success: function(res){
                        console.log(res);
                        var _html = ' ';
                        var list = res.items;
                        var tpl = $('#tpl_15597494993752').html();
                        var headerTpl =  $('#header_tpl_15597494993752').html();
                        for (var i=0,len=list.length; i < len; i++){
                            var item = list[i];
                            _html += renderTpl(tpl, item)
                        }
                        $('.ranger-box2 tbody').html(_html);
                        $('.ranger-box2 thead').html(renderTpl(headerTpl,res.catalogues));
                    }
                });
        }
        $(function(){
                refreshList();
                $("#submit").click(function(){
                    //name disk_capacity IP OS disk_partition
                    var name=$("#name").val();
                    var disk_capacity=parseFloat($("#disk_capacity").val());
                    if(isNaN(disk_capacity))
                        disk_capacity=-1;
                    var disk_partition=$("#disk_partition").val();
                    var IP=$("#IP").val();
                    var OS=$('#OS option:selected').val();
                    data={name:name,disk_capacity:disk_capacity,IP:IP,OS:OS,disk_partition:disk_partition};
                    console.log(data);
                    $.ajax({
                        url: '{{ SITE_URL }}homework3/host/',
                        type: 'POST',
                        data: data,
                        dataType:'json',
                        success: function(res){
                            if(res.code==200){
                                refreshList();
                            }
                            else alert(res.msg);
                        }
                    });
                });
            });
    </script>
{% endblock %}