{% extends "base.html" %}

{% block head %}
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css-pro/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bk-icon-2.0/iconfont.css" rel="stylesheet">
	{{ block.super }}
{% endblock %}

{% block content %}
    <h2>Hello World Page</h2>
{% endblock %}

